{% extends 'platform/dashboard/base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
<div class="messages d-none">
  {% if messages %}
  {% for message in messages %}
    <p>{{message}}</p>
  {% endfor %}
  {% endif %}
</div>
<div class="container-fluid py-4 w-100">
  <div class="row">
    <div class="card h-100 mb-4">
      <div class="card-header pb-0">
        <h5 class="font-weight-bolder">Análise da Coleção</h5>
        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">

            <div class="card mb-2">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col">
                    <div class="numbers d-flex justify-content-between align-items-center">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Nome</p>

                      <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                           style="width:40px; height:40px;">
                        <i class="ni ni-money-coins text-md opacity-10" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <h5 class="font-weight-bolder mb-0">
                    {{collection.name|capfirst}}
                  </h5>
                </div>
              </div>
            </div>
            <div class="card mb-2">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col">
                    <div class="numbers d-flex justify-content-between align-items-center">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Loteria</p>

                      <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                           style="width:40px; height:40px;">
                        <i class="ni ni-money-coins text-md opacity-10" aria-hidden="true"></i>
                      </div>
                    </div>

                  </div>
                  <h5 class="font-weight-bolder mb-0">
                    {{collection.lottery|capfirst}}
                  </h5>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">

            <div class="card mb-2">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col">
                    <div class="numbers d-flex justify-content-between align-items-center">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Nº Conjuntos</p>

                      <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                           style="width:40px; height:40px;">
                        <i class="ni ni-money-coins text-md opacity-10" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <h5 class="font-weight-bolder mb-0">
                    {{collection.numberOfGamesets}}
                  </h5>
                </div>
              </div>
            </div>
            <div class="card mb-2">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col">
                    <div class="numbers d-flex justify-content-between align-items-center">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Nº Jogos</p>

                      <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                           style="width:40px; height:40px;">
                        <i class="ni ni-money-coins text-md opacity-10" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <h5 class="font-weight-bolder mb-0">
                    {{collection.numberOfGames}}
                  </h5>
                </div>
              </div>
            </div>
          </div>

          <img class="position-relative z-index-2 pt-4 ms-6 mb-2"
               src="{% static 'assets/img/collection-detail.svg' %}" alt="detail" style="width:35%">
        </div>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header pb-0 d-flex flex-row justify-content-between align-items-center">
        <div class="d-inline">
          <h5 class="font-weight-bolder">Coleção {{collection.name}}</h5>
          <p class="text-sm">
          <p class="text-sm">Clique em info para ver detalhes de cada conjunto e/ou jogo da coleção</p>
          <i class="fa fa-arrow-up text-success" aria-hidden="true"></i>
          {{collection.numberOfGamesets}} conjuntos encontrados
          </p>
        </div>
        <div class="buttons">
          <button type="button" class="btn btn-success" id="edit-gamesets">EDITAR CONJUNTOS</button>
          <button type="button" class="btn btn-danger" id="delete-collection">DELETAR</button>
          <div id="gameset-form" style="display:none">
            <form action="{% url 'lottery:collection-detail' collection.pk %}" method="POST" id="modify-collection">
            {% csrf_token %}
            <input type="hidden" name="action" value="">
              <table class="table mb-0 mx-auto" style="max-width: 150px !important;" id="table-gamesets">
                <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Editar</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nome</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nº de
                    Jogos
                  </th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ativo</th>
                </tr>
                </thead>
                <tbody>
                {% for gameset in gamesets %}
                <tr>
                  <td class="align-middle text-center"><input type="checkbox" name="gamesets" id="{{gameset.id}}"
                                                              value="{{gameset.id}}" {% if gameset.include %}checked{% endif %}></td>
                  <td class="align-middle text-center"><label for="{{gameset.id}}">{{gameset.name}}</label></td>
                  <td class="align-middle text-center">{{gameset.numberOfGames}}</td>
                  <td class="align-middle text-center">
                    {% if gameset.isActive %}
                    <span class="badge badge-sm bg-gradient-success">SIM</span>
                    {% else %}
                    <span class="badge badge-sm bg-gradient-danger">NÃO</span>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
          </form>
          </div>
        </div>
      </div>
      <div class="card-body px-2 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0 display" id="gamesTable">
            <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Loteria</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Conjunto</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Nº
                Jogos
              </th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Nº
                Marcações
              </th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Ativo
              </th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Info
              </th>
            </tr>
            </thead>
            <tbody>
            {% for gameset in collection.gamesets.all %}
            {% with 'assets/img/loterias/logos/'|add:gameset.lottery.name|add:'.png' as lotteryLogo %}

            <tr>
              <td>
                <div class="d-flex px-2 py-1 justify-content-center">
                  <img src="{% static lotteryLogo %}" alt="Logo da {{gameset.lottery.name}}"
                       class="btn-tooltip text-info text-gradient" data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="Logo da {{gameset.lottery.name}}" data-container="body" data-animation="true">
                </div>
                <p hidden>{{gameset.lottery.name}}</p>
              </td>
              <td class="text-sm text-center">
                {{gameset.name|capfirst}}
              </td>
              <td class="text-sm text-center align-middle" >
                <span class="badge badge-sm bg-gradient-primary">{{gameset.numberOfGames}}</span>
              </td>
              <td class="text-sm text-center align-middle">
                <span class="badge badge-sm bg-gradient-primary">{{gameset.gameLength}}</span>
              </td>
              <td class="text-sm text-center align-middle">
                {% if gameset.isActive %}
                <span class="badge badge-sm bg-gradient-success">SIM</span>
                {% else %}
                <span class="badge badge-sm bg-gradient-danger">NÃO</span>
                {% endif %}
              </td>
              <td class="align-middle text-center">
               <a href="{% url 'lottery:game-set-detail' gameset.id  %}">
                          <span class="btn-inner--icon"><i class="fa fa-info-circle" style="font-size:20px"></i></span>
                        </a>
              </td>
            </tr>
            {% endwith %}
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block script %}
<script>
var html = $("#gameset-form").html()
$(document).ready(function() {
    $('table.display').DataTable({
      language: {
            "lengthMenu": "Mostrar _MENU_ jogos por página",
            "zeroRecords": "",
            "info": "Página _PAGE_ de _PAGES_",
            "infoEmpty": "Nenhum jogo encontrado",
            "infoFiltered": "(Filtrados de _MAX_ jogos)",
            "paginate": {
              "previous": "←",
              "next": "→"
            },
            "searchPlaceholder": "Busque jogos por loteria, nome ou status",
            "search": "Filtrar"

        }
    });

    $('#collectionsTable_filter input[type="search"]').attr(
      'placeholder', "Busque por loteria, nome ou nº de jogos"
    )

    $('.dataTables_filter input[type="search"]').css(
     {'width':'300px','display':'inline-block'}
  );
} );

$("#delete-collection").click(function(){
  var action = this.innerText
  Swal.fire({
    title: `Você realmente deseja ${this.innerText} essa coleção de conjuntos de jogos?`,
    showDenyButton: true,
    confirmButtonText: "SIM",
    denyButtonText: "NÃO",
    customClass: {
    actions: 'my-actions',
    confirmButton: 'order-1',
    denyButton: 'order-2',
  }
  }).then((answer)=>{
    if (answer.isConfirmed){
      $("#modify-collection input[name=action]").val(action)
      $("#modify-collection").submit()
    }
    else if (answer.isDenied){
    }
  })
})



$("#edit-gamesets").click(function(){
$("#gameset-form").remove()
Swal.fire({
  title: "Escolha os conjuntos",
  html: html,
  showDenyButton: true,
  confirmButtonText: "SALVAR",
  denyButtonText: "CANCELAR",
  confirmButtonColor: 'green',
  focusConfirm: false,
  didRender: () => {
    $("#table-gamesets").DataTable({
      searching: false,
      ordering: true,
      paging: false,
    })
  }
}).then((result) => {
  if(result.isConfirmed){
  $("#modify-collection input[name=action]").val("ADICIONAR")
    $("#modify-collection").submit()
  }
})
})

$(".messages p").each((ind, el) => {
    Toast.fire({
    icon: 'success',
    title: el.innerText
})
  })
</script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
{% endblock %}