todosjogosloto.csv
__pycache__/
*.py[cod]
.pyc
media/*.txt
LotoWebApp/__pycache__/*.pyc
todasCombsFiltradasDiadesorte.csv
todasCombsFiltradasLotofacil.csv
megaFiltered.csv
.env/
/.env
/media/resultados/
/templates/emails/images/
