{% extends 'plataform/dashboard/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block content %}
<div class="container-fluid py-4 w-100">
  <div class="row">
    <div class="card h-100 mb-4">
      <div class="card-header pb-0">
        <h5 class="font-weight-bolder">Análise do Conjunto</h5>
        <div class="row">
          <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">

            <div class="card mb-2">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col">
                    <div class="numbers d-flex justify-content-between align-items-center">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Nome</p>

                      <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                           style="width:40px; height:40px;">
                        <i class="ni ni-money-coins text-md opacity-10" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <h5 class="font-weight-bolder mb-0">
                    {{gameset.name|capfirst}}
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
            <div class="card mb-2">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col">
                    <div class="numbers d-flex justify-content-between align-items-center">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Loteria</p>

                      <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                           style="width:40px; height:40px;">
                        <i class="ni ni-money-coins text-md opacity-10" aria-hidden="true"></i>
                      </div>
                    </div>

                  </div>
                  <h5 class="font-weight-bolder mb-0">
                  {{gameset.lottery.name|capfirst}}
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">

            <div class="card mb-2">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col">
                    <div class="numbers d-flex justify-content-between align-items-center">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Coleções</p>

                      <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                           style="width:40px; height:40px;">
                        <i class="ni ni-money-coins text-md opacity-10" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <h5 class="font-weight-bolder mb-0">
                    em {{gameset.collections.count}}
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">

            <div class="card mb-2">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col">
                    <div class="numbers d-flex justify-content-between align-items-center">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Nº Jogos</p>

                      <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                           style="width:40px; height:40px;">
                        <i class="ni ni-money-coins text-md opacity-10" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <h5 class="font-weight-bolder mb-0">
                    {{gameset.numberOfGames}}
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">

            <div class="card mb-2">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col">
                    <div class="numbers d-flex justify-content-between align-items-center">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Marcações</p>

                      <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                           style="width:40px; height:40px;">
                        <i class="ni ni-money-coins text-md opacity-10" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <h5 class="font-weight-bolder mb-0">
                    {{gameset.gameLength}}
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">

            <div class="card mb-2">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col">
                    <div class="numbers d-flex justify-content-between align-items-center">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Ativo</p>

                      <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                           style="width:40px; height:40px;">
                        <i class="ni ni-money-coins text-md opacity-10" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <h5 class="font-weight-bolder mb-0">
                    {% if gameset.isActive %}
                    Sim
                    {% else %}
                    Não
                    {% endif %}
                  </h5>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header pb-0 d-flex flex-row justify-content-between align-items-center">
        <div class="d-inline">
          <h5 class="font-weight-bolder">Conjunto {{gameset.name|capfirst}}</h5>
          <p class="text-sm">
            <i class="fa fa-arrow-up text-success" aria-hidden="true"></i>
            {{gameset.numberOfGames}} jogos encontrados
          </p>
        </div>
      </div>
      <div class="card-body px-2 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0 display" id="gamesTable">
            <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Jogo Nº</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 text-center">Números</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Soma</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Max Seq</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Min Seq</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Max Salto</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Primos</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Paridade</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Info
              </th>
            </tr>
            </thead>
            <tbody>
            {% for game in gameset.games.all %}
            <tr>
              <td class="text-sm text-center">
                {{forloop.counter}}
              </td>
              <td class="text-sm">
              {% for number in game.arrayNumbers %}
                <span class="badge badge-sm bg-gradient-primary">{{number}}</span>
              {% endfor %}
               </td>
              <td class="text-sm">
                <span class="badge badge-sm bg-gradient-primary">{{game.sum}}</span>
              </td>
              <td class="text-sm">
                <span class="badge badge-sm bg-gradient-primary">{{game.max_seq}}</span>
              </td>
              <td class="text-sm">
                <span class="badge badge-sm bg-gradient-primary">{{game.min_seq}}</span>
              </td>
              <td class="text-sm">
                <span class="badge badge-sm bg-gradient-primary">{{game.max_gap}}</span>
              </td>
              <td class="text-sm">
                <span class="badge badge-sm bg-gradient-primary">{{game.n_primes}}</span>
              </td>
              <td class="text-sm">
                {% if game.isOdd %}
                <span class="badge badge-sm bg-gradient-info">ÍMPAR</span>
                {% else %}
                <span class="badge badge-sm bg-gradient-secondary">PAR</span>
                {% endif %}
              </td>
              <td class="align-middle text-center">
                <a>
                  <span class="btn-inner--icon"><i class="fa fa-info-circle" style="font-size:20px"></i></span>
                </a>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block script %}
<script>

$(document).ready(function() {
    $('table.display').DataTable({
      language: {
            "lengthMenu": "Mostrar _MENU_ jogos por página",
            "zeroRecords": "",
            "info": "Página _PAGE_ de _PAGES_",
            "infoEmpty": "Nenhum jogo encontrado",
            "infoFiltered": "(Filtrados de _MAX_ jogos)",
            "paginate": {
              "previous": "←",
              "next": "→"
            },
            "searchPlaceholder": "Busque jogos por loteria, nome ou status",
            "search": "Filtrar"

        }
    });

    $('#collectionsTable_filter input[type="search"]').attr(
      'placeholder', "Busque por loteria, nome ou nº de jogos"
    )

    $('.dataTables_filter input[type="search"]').css(
     {'width':'300px','display':'inline-block'}
  );
} );
</script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
{% endblock %}
