{% load static %}

<footer class="footer pt-3  ">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-lg-between">
      <div class="row">
        <div class="col-8 mx-auto text-center mt-1">
          <p class="mb-0 text-secondary">
            Copyright ©
          <script>
                  document.write(new Date().getFullYear())
          </script>
            LotoAssistant
          &
          <span>Powered by
          <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Creative Tim</a></span>
        </div>
          </p>
        </div>

      <div class="row">
        <ul class="nav nav-footer justify-content-center justify-content-lg-center">
          <li class="nav-item">
            <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Creative
              Tim</a>
          </li>
          <li class="nav-item">
            <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted"
               target="_blank">About Us</a>
          </li>
          <li class="nav-item">
            <a href="https://creative-tim.com/blog" class="nav-link text-muted" target="_blank">Blog</a>
          </li>
          <li class="nav-item">
            <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted"
               target="_blank">License</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
  </footer>

